.question__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  max-width: 800px;
}

.question__container h1 {
  font-size: 1.8rem;
  margin: 0.2em 0 1.6em;
  text-align: start;
}

.question__answers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.question__answers p {
  border: 1px solid #fff;
  padding: 0.7em;
  font-weight: bold;
  font-size: 0.9rem;
  min-width: 100px;
  min-height: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question__answers p:hover,
.question__answers p:active {
  cursor: pointer;
  background-color: #ff4784;
  transition: 0.2s ease-in-out;
}

.question__answers p.selected {
  cursor: pointer;
  background-color: #ff4784;
  transition: 0.2s ease-in-out;
}

.question__line {
  width: 100%;
  background-color: #ff478488;
  height: 1px;
  margin: 2em 0;
}

@media only screen and (max-width: 768px) {
  .question__container {
    width: 100%;
    max-width: none;
  }

  .question__container h1 {
    font-size: 1.4rem;
    margin: 1.6em 0;
  }

  .question__btn {
    width: 100%;
  }

  .question__answers {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .question__answers p {
    min-width: 0;
    width: 100%;
    margin-top: 10px;
  }

  .question__line {
    margin-top: 3em;
  }
}